:root {
    --white: (hsl(0, 0%, 100%));
    --light-grey: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
@font-face {
    font-family: Outfit;
    src: url(https://fonts.google.com/specimen/Outfit);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--light-grey);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 50px 85px 1px rgb(193, 192, 192);
    width: 300px;
}

.image img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.title {
    font-family: Outfit;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.paragraph {
    font-family: Outfit;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
}